body {
    font-family: 'Segoe UI';
    width: 100%;
    height: 100%;
}

.main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

.main-head h1 {
    font-size: 40px;
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-head .role {
    text-align: center;
}

.box-sect {
    margin: 15px 30px;
    background-color: white;
    padding: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-fig {
    text-align: center;
}

article .main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    margin: 40px 340px;
}

li {
    margin: 16px 0;
}

.cont-title {
    font-weight: bold;
    margin: 15px 0;
    font-size: 20px;
}

.quote {
    font-style: italic;
}

cite {
    margin-top: 10px;
    font-style: italic;
}

.footer {
    text-align: center;
}

.footer-link a {
    color: #477ca7;
}

/* Base image styles */
.image img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Mobile */
@media (max-width: 768px) {
    .image img {
        width: 80%;
        max-width: 280px;
    }

    article .main-cont {
        margin: 20px 15px;
        /* Fix tight margins */
    }

    .main-head h1 {
        font-size: 32px;
        /* Smaller on mobile */
    }
}

 
@media (min-width: 769px) and (max-width: 1024px) {
    article .main-cont {
        margin: 40px 120px;
         
    }
}