:root {
    --para-color: #4d4e53;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: sticky;
    top: 0;
    background: white;
    padding: 15px;
    font-size: 1.8em;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#navbar {
    width: 281px;
    overflow-y: auto;
    border-right: 4px solid rgba(0, 22, 22, 0.4);
}

#main-doc {
    overflow-y: auto;
    padding: 30px; 
    flex: 1;
    line-height: 1.5;
}

nav>ul>li {
    list-style: none;
    margin: 10px 0px 10px;
    width: 230px;
    padding: 15px 2px 5px 25px;
    border-top: 1px solid rgb(44, 43, 43);
}

ul {
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    text-decoration: none;
    color: var(--para-color);
}

h2 {
    font-size: 1.8em;
    font-weight: 500;

}

code {
    display: block; 
    white-space: pre-line; 
    line-height: 2;
    color: var(--para-color);
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
 

p {
    color: var(--para-color);
    margin: 15px;
    font-size: 0.96em;
}

.main-sect li {
    margin: 15px 0px 0px 80px;
    color: var(--para-color);
}

 
@media (max-width: 850px)   {
    header {
        font-size: 2.9vw;
    }
    #navbar {
        width: 35vw;
    }
    .main-sect {
        font-size: 2vw;
    }
    nav>ul>li {
        width: 100%;
        font-size: 2vw;
    }

    h2 {
        font-size: 2.4vw;
    }
    #main-doc {
        padding: 10px;
    }
    
}