:root {
    /* colors */
    --major-color: #F28123;
    --white-color: #ffffff;
    --main-color: #051922;
    --dark-color: #000;
    --back-color: #f5f5f5;
    --font-color: #555;
    --text-color: #fff;
}

html {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(img/hero-bg.jpg);
    background-position: center;
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    font-size: clamp(0.8rem, 0.77rem + 0.1vw, 0.9rem);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.3em 3em;
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    z-index: 1000;
}

header .logo img {
    width: 10rem;
    height: 3rem;
}

.main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.main-menu ul li {
    list-style: none;
}

.main-menu ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bolder;
    font-size: clamp(0.8rem, 0.7rem + 0.3vw, 1rem);
}


.Action-icons ul {
    display: flex;
    gap: 15px;
}

.Action-icons ul li {
    list-style: none;
}

.Action-icons ul li i {
    color: var(--white-color);
    font-weight: 700;
    font-size: clamp(0.9rem, 0.87rem + 0.2vw, 1.1rem);
}

.Action-icons ul li .ri-menu-fill {
    display: none;
}

main {
    background-color: var(--white-color);
    width: auto;
    overflow: hidden;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transform: translateY(-20%);
    flex-wrap: wrap;
    width: 100%;
}

#hero p {
    font-size: clamp(0.5rem, 0.38rem + 0.6vw, 0.9rem);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--major-color);
}

#hero h1 {
    display: inline-block;
    font-size: clamp(2.5rem, 1.95rem + 3.9vw, 4rem);
    color: var(--white-color);
    padding: 0.5em 15px;
    font-weight: bolder;
}

#hero .buttons {
    display: flex;
    gap: 0.8em;
}

#hero .buttons .btn-1,
#hero .buttons .btn-2 {
    padding: 1.2em 1.4em;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--major-color);
    text-decoration: none;
    color: var(--white-color);
    font-size: clamp(0.7rem, 0.64rem + 0.3vw, 0.9rem);
}

#services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40vh;
    background-color: var(--back-color);
}

#services .shiping,
.support,
.refund {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.icon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .shiping .icon-logo i,
#services .support .icon-logo i,
#services .refund .icon-logo i {
    color: var(--major-color);
    font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2rem); 
    border: 2px dotted var(--major-color);
    padding: 1.8rem 1.8rem;
    text-align: center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

#services .shiping .shiping-text h3,
.support .support-text h3,
.refund .refund-text h3 {
    padding: 16px 0;
    line-height: 0.5rem;
    font-size: clamp(1rem, 0.91rem + 0.45vw, 1.3rem);
}

.products {
    overflow-y: hidden;
    height: auto;
    padding: 50px 0;
    width: 100%;
}

.products .text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    padding: 15px;
    height: 40%;
    flex-direction: column;
}

.products .text h2 {
    font-size: clamp(2rem, 1.7rem + 1.5vw, 3rem);
}

.products .text h2 span {
    color: var(--major-color);
}

.products .text p {
    color: var(--font-color);
    padding: 0.5rem;
    width: 30rem;
}

.cards {
    background-color: var(--white-color);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    align-items: center;
}

.cards .card-1,
.cards .card-2,
.cards .card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all ease-in-out 0.3s;
    gap: 0.5em;
    cursor: pointer;
    height: auto;
    box-shadow: 0 0 30px #e4e4e4;
    width: 25%;
    border-radius: 10px;
    background-color: var(--white-color);
}

.cards .card-1 .text-1,
.card-2 .text-1,
.card-3 .text-1 {
    margin-bottom: 15px;
}

.cards .card-1 img,
.cards .card-2 img,
.cards .card-3 img {
    width: 70%;
}

.cards .card-1 .rate,
.card-2 .rate,
.card-3 .rate {
    font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2rem);
    padding: 10px 0;
}

.cards .card-1 .btn-1,
.card-2 .btn-1,
.card-3 .btn-1 {
    padding: 15px 20px;
    background-color: var(--major-color);
    border-radius: 30px;
    margin-bottom: 3em;
    border: none;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    font-size: clamp(0.7rem, 0.64rem + 0.3vw, 0.9rem);
}

.cards .card-1 .btn-1 i,
.card-2 .btn-1 i,
.card-3 .btn-1 i {
    font-weight: bolder;
    margin-right: 5px;
}

#month-deal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1.5rem;
    min-height: 100vh;
    background-color: var(--back-color);
    padding: 2.5rem;
}

#month-deal .img-sec {
    transform: translateX(20%);
    position: relative;
}

#month-deal .img-sec .text-rate {
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 7em;
    border-radius: 4.5rem;
    border: 5px solid var(--main-color);
    background-color: var(--major-color);
    position: absolute;
    bottom: 75%;
    left: 1.3rem;
}

#month-deal .img-sec .text-rate h3 {
    font-size: clamp(1rem, 0.85rem + 0.75vw, 1.5rem);
}

#month-deal .img-sec img {
    width: 33rem;
}

#deal-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#deal-sec .text-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

#deal-sec .text-sec h2 span {
    color: var(--major-color);
}

#deal-sec .text-sec h2 {
    font-size: clamp(2rem, 1.7rem + 1.5vw, 3rem);
}

#deal-sec .text-sec h3 {
    padding: 0.2rem;
    font-size: clamp(1.1em, 1.04em + 0.25vw, 1.3em);
    text-align: left;
}

#deal-sec .text-sec p {
    width: 70%;
    text-align: left;
}

.time-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.time-boxes .box-1,
.box-2,
.box-3,
.box-4 {
    border: 3px solid var(--major-color);
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time-boxes .box-1 h3,
.box-2 h3,
.box-3 h3,
.box-4 h3 {
    color: var(--major-color);
    font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2rem);
    letter-spacing: 1px;
    font-weight: bolder;
}

#deal-sec .btn-1 {
    padding: 15px 20px;
    background-color: var(--major-color);
    border-radius: 30px;
    margin-bottom: 3em;
    border: none;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    font-size: clamp(0.7rem, 0.64rem + 0.3vw, 0.9rem);
}

#deal-sec .btn-1 i {
    font-weight: bolder;
    margin-right: 5px;
}


.team-sec {
    overflow: hidden;
    background: white;
    padding: 80px 0;
}

.team-carousel-inner {
    display: flex;
    gap: 5rem;
    width: max-content;
    animation: infiniteScroll 35s linear infinite;
}

.mem-1,
.mem-2,
.mem-3 {
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: max-content;
    border-radius: 10px;
    box-shadow: 0 0 30px #e4e4e4;
    transition: all 0.3s ease-in-out;
}

.mem-1 img,
.mem-2 img,
.mem-3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.mem-1 p,
.mem-2 p,
.mem-3 p {
    color: var(--font-color);
    padding: 1rem;
    text-align: center;
}

.mem-1 blockquote .quote,
.mem-2 blockquote .quote,
.mem-3 blockquote .quote {
    min-width: 600px;
    width: 5rem;
    color: var(--font-color);
    font-style: italic;
    position: relative;
    line-height: 1.5rem;
}

.mem-1 .quote::before,
.mem-2 .quote::before,
.mem-3 .quote::before {
    font-size: clamp(1rem, 0.94rem + 0.3vw, 1.2rem);
    content: "“";
    position: absolute;
    top: 10px;
    left: 5px;
    font-weight: bolder;
}

.mem-1 blockquote .quote::after,
.mem-2 blockquote .quote::after,
.mem-3 blockquote .quote::after {
    font-size: clamp(1rem, 0.94rem + 0.3vw, 1.2rem);
    content: "”";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 88px;
    left: 70px;
    font-weight: bolder;
}

.intro-sec {
    background-color: var(--white-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}

.intro-text {
    display: flex;
    align-items: flex-start;
    margin-right: 3.5rem;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.intro-text .int-t1 {
    text-align: start;
}

.intro-text h1 {
    font-weight: 700;
    font-size: clamp(2rem, 1.7rem + 1.5vw, 3rem);
}

.intro-text h1 span {
    color: var(--major-color);
}

.intro-text .int-t3 {
    width: 90%;
    padding: 10px;
    line-height: 1.4rem;
}

.intro-text .info {
    padding: 1em 1.5em;
    background-color: var(--major-color);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: var(--white-color);
    font-size: clamp(0.7rem, 0.64rem + 0.3vw, 0.9rem);
}

.intro-video {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video-container {
    width: 100vw;
    height: 55vh;
    position: relative;
    overflow: hidden;
    border-radius: 0px 15px;
}

.video-poster,
.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.video-playing .video-poster {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.video-poster .custom-play-button {
    background-color: var(--major-color);
    border: none;
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.custom-play-button i {
    color: var(--dark-color);
    font-size: clamp(1.2rem, 1.11rem + 0.45vw, 1.5rem);
    transform: translateX(2px);
}

.dis-sale {
    background-image: url(img/1.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 134%;
    min-height: 70vh;
}

.dis-sale-content {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 4rem 1rem 0 0;
    transform: translateX(15%);
    display: flex;
}

.dis-sale .ds-h3 {
    font-size: clamp(2rem, 1.6rem + 2.5vw, 3.3rem);
    font-weight: bolder;
}

.dis-sale .ds-h3 span {
    color: var(--major-color);
}

.percent .off,
.sl-text {
    font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2rem);
    line-height: 1.1em;
    text-align: center;
    display: inline-block;
}

.percent .perc {
    color: var(--major-color);
    font-size: clamp(3rem, 2.64rem + 1.8vw, 4.2rem);
    font-weight: 700;
    padding: 0 10px;
}

.dis-sale-content .shn {
    padding: 15px 20px;
    background-color: var(--major-color);
    border-radius: 30px;
    margin-bottom: 3em;
    border: none;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    font-size: clamp(0.9rem, 0.81rem + 0.45vw, 1.2rem);
}

#news-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4em;
    gap: 4rem;
    height: 100%;
    min-width: 100vw;
}

#news-sec .text-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.text-part h1 {
    font-size: clamp(2rem, 1.7rem + 1.5vw, 3rem);
    font-weight: 700;
    padding: 1rem 1rem 0 1rem;
    margin-top: 10%;

}

.text-part h1 span {
    color: var(--major-color);
}

.text-part p {
    width: 70%;
    color: var(--font-color);
    line-height: 1.5em;
}

.news-cards {
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-left: 12rem;
    padding: 2rem;
    align-items: center;
}

.news-cards .card-1,
.card-2,
.card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    width: 25%;
    border-radius: 10px 0;
    box-shadow: 0 0 30px #e4e4e4;
}

.news-cards .card-1 .image-part-1,
.card-2 .image-part-2,
.card-3 .image-part-3 {
    width: 100%;
}

.news-cards .card-1 .image-part-1 img,
.card-2 .image-part-2 img,
.card-3 .image-part-3 img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card1-cont,
.card2-cont,
.card3-cont {
    padding: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.card1-cont .blog-meta,
.card2-cont .blog-meta,
.card3-cont .blog-meta {
    font-size: clamp(0.7rem, 0.67rem + 0.15vw, 0.8rem);
    font-weight: 400;
    letter-spacing: 0.1px;
    color: var(--font-color);
    padding: 1.6rem 0;
}

.card1-cont h3,
.card2-cont h3,
.card3-cont h3 {
    color: var(--main-color);
    font-size: clamp(1.1em, 1.04em + 0.25vw, 1.3em);
    font-weight: 600;
}


.card-1 .blog-meta span i,
.card-2 .blog-meta span i,
.card-3 .blog-meta span i {
    padding: 0 0.5rem;
}

.card1-cont .main-te,
.card2-cont .main-te,
.card3-cont .main-te {
    color: #555;
    line-height: 1.8;
}

.card1-cont .link,
.card2-cont .link,
.card3-cont .link {
    margin-top: 2rem;
}

.card1-cont .link a,
.card2-cont .link a,
.card3-cont .link a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 700;
}

.card1-cont .link a i,
.card2-cont .link a i,
.card3-cont .link a i {
    font-size: 1.5rem;
    vertical-align: middle;
}

#news-sec .news-button {
    padding: 15px 20px;
    background-color: var(--major-color);
    border-radius: 30px;
    margin-bottom: 3em;
    border: none;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    font-size: clamp(0.8rem, 0.74rem + 0.3vw, 1rem);
}

.comp-logos {
    display: flex;
    min-height: 40vh;
    background-color: var(--back-color);
    overflow: hidden;
}

.logo-carousel-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
    width: max-content;
    gap: 6em;
    animation: animation-x 20s infinite linear;
}

.single-logo-item img {
    transition: all 0.3s ease-in-out;
}

#footer {
    background-color: var(--main-color);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#footer .outer-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    gap: 3rem;
    margin: 8em 0;
    color: var(--white-color);
}

.outer-footer .foot-cont h2 {
    font-size: clamp(1.2rem, 1.11rem + 0.45vw, 1.5rem);
    font-weight: 500;
    color: var(--white-color);
}

.foot-cont .foot-par {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: var(--text-color);
    opacity: 0.7;
    line-height: 1.8;
    width: 20rem;
    padding: 1rem 0;
}

.get-touch ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 0;
    gap: 15px;
}

.get-touch ul li {
    list-style: none;
    color: var(--text-color);
    opacity: 0.7;
}

.pages ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 1rem 0;
    list-style: none;
}

.pages ul li a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.7;
}

.pages ul li i {
    font-size: 1.5rem;
    vertical-align: middle;
    color: var(--major-color);
}

.subs {
    transform: translateX(30%);
}

.subs form input {
    background-color: #0a2d3c;
    border: none;
    border-radius: 7px;
    padding: 20px;
}

.subs form .placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

.subs form button[type="submit"] {
    background-color: #0a2d3c;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 7px;
}

.subs form button i {
    padding: 17px;
    font-size: clamp(1em, 0.94em + 0.3vw, 1.2em);
    color: var(--major-color);
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid black;
    min-width: 100vw;
    color: var(--text-color);
    opacity: 0.7;
}

.inner-footer .rights .foot-par {
    padding: 25px 40px;
    line-height: 2rem;
}

.inner-footer .rights .foot-par a {
    color: var(--major-color);
    font-weight: 600;
    text-decoration: none;
}

.social-icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    padding: 25px 3rem;
}

.social-icons ul li a i {
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.7;
    font-weight: 900;
}


/* Animations/transitions*/

#hero .buttons .btn-1:hover,
#hero .buttons .btn-2:hover,
.cards .card-1 .btn-1:hover,
.card-2 .btn-1:hover,
.card-3 .btn-1:hover,
#deal-sec .btn-1:hover,
#news-sec .news-button:hover,
.dis-sale-content .shn:hover,
.intro-text .info:hover {
    background-color: var(--main-color);
    color: var(--major-color);
}

.subs form button:hover {
    background-color: var(--major-color);
    color: var(--main-color);
}

.subs form button:hover i {
    color: var(--main-color);
}

.mem-1:hover,
.mem-2:hover,
.mem-3:hover {
    transform: scale(1.10);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.single-logo-item:hover img {
    transform: scale(1.15);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.cards .card-1:hover,
.cards .card-2:hover,
.cards .card-3:hover {
    transform: scale(1.10);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.team-carousel-inner:hover,
.logo-carousel-inner:hover {
    animation-play-state: paused;
}

.main-menu ul li a:hover,
.Action-icons ul li a i:hover {
    color: var(--major-color);
}

@keyframes animation-x {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* Media queries */

@media screen and (max-width: 768px) {
    #navbar {
        padding: 1em 2.5em;
    }

    header .logo img {
        width: 6rem;
        height: 2rem;
    }

    .main-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }

    .main-menu ul li a {
        text-decoration: none;
        color: var(--white-color);
        font-weight: bolder;
        font-size: 0.9rem;
    }

    .Action-icons ul li i {
        color: var(--white-color);
        font-weight: 700;
        font-size: 0.9rem;
    }

    #hero p {
        font-size: 0.5rem;
        letter-spacing: 0.2rem;
    }

    #hero h1 {
        display: inline-block;
        font-size: 2.5rem;
        color: var(--white-color);
        padding: 0.5em 15px;
        font-weight: bolder;
    }

    #hero .buttons {
        display: flex;
        gap: 0.5em;
    }

    #hero .buttons .btn-1,
    #hero .buttons .btn-2 {
        padding: 1.2em 1.4em;
        font-size: 0.5rem;
    }

    #services {
        display: grid;
        grid-template-columns: 120px 120px;
        min-height: 40vh;
        background-color: var(--back-color);
    }

    #services .shiping .icon-logo i,
    .support .icon-logo i,
    .refund .icon-logo i { 
        font-size: 1.5rem; 
        text-align: center;
        height:  5.5rem;
        width:  5.5rem;
        border-radius: 50%;
    }

    #services .shiping .shiping-text h3,
    #services .support .support-text h3,
    #services .refund .refund-text h3 {
        padding: 16px 0;
        font-size: 15px;
        width: 10rem;
    }

    .support .icon-logo {
        margin-right: 1rem;
    }

    #services .shiping .shiping-text p,
    #services .support .support-text p,
    #services .refund .refund-text p {
        font-size: 13px;
    }

    .products .text {
        margin-bottom: 4rem;
    }

    .products .text h2 {
        font-size: 1.9rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .cards .card-1,
    .cards .card-2,
    .cards .card-3 {
        width: 70%;
    }

    .cards .card-1 .rate,
    .card-2 .rate,
    .card-3 .rate {
        font-size: 0.9rem;
        padding: 10px 0;
    }

    .cards .card-1 .btn-1,
    .card-2 .btn-1,
    .card-3 .btn-1 {
        padding: 15px 16px;
    }

    #month-deal {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }

    #deal-sec .text-sec h2 {
        font-size: 1.9rem;
    }



    .intro-sec {
        background-color: var(--white-color);
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 0 5%;
    }

    .intro-text .int-t1 {
        text-align: start;
    }

    .intro-text h1 {
        font-size: 1.9rem;
    }

    .video-container {
        display: none;
    }

    .dis-sale .ds-h3 {
        font-size: 1.9rem;
    }

    .percent .off,
    .sl-text {
        font-size: 1.2rem;
    }

    .percent .perc {
        font-size: 1.9rem;
    }

    .dis-sale-content .shn {
        padding: 1em 1.5em;
        background-color: var(--major-color);
        border: none;
        border-radius: 20px;
        text-decoration: none;
        color: var(--white-color);
        font-size: clamp(0.7rem, 0.64rem + 0.3vw, 0.9rem)
    }


    .text-part h1 {
        font-size: 2rem;
    }

    .news-cards {
        width: 100%;
        min-height: 100vh;
        gap: 3rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-left: 12rem;
        padding: 2rem;
        align-items: center;
    }

    .news-cards .card-1,
    .card-2,
    .card-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 80%;
    }



    #footer .outer-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
        margin: 8em 0;
        color: var(--white-color);
    }

    .subs {
        transform: translateX(0%);
    }


    .inner-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid black;
        flex-direction: column;
        min-width: 100vw;
        color: var(--text-color);
        opacity: 0.7;
    }


    @media screen and (max-width:576px) {

        header .logo img {
            width: 5rem;
            height: 2rem;
        }

        .main-menu ul {
            display: none;
        }

        .Action-icons ul li .ri-menu-fill {
            display: block;
            font-size: 1rem;
        }

        #hero p {
            font-size: 0.3rem;
        }

        #hero h1 {
            font-size: 2rem;
            color: var(--white-color);
            padding: 0.5em 15px;
            font-weight: bolder;
        }

        #hero .buttons {
            display: flex;
            flex-direction: column;
        }

        #hero .buttons .btn-1,
        #hero .buttons .btn-2 {
            display: inline-block;
        }

        #services {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        #services .shiping .icon-logo i,
        #services .support .icon-logo i,
        #services .refund .icon-logo i {
            color: var(--major-color);
            font-size: clamp(1.5rem, 1.35rem + 0.8vw, 2rem);
            width: 5rem;
            /* ✅ FIXED WIDTH */
            height: 5rem;
            /* ✅ FIXED HEIGHT (same as width) */
            border: 2px dotted var(--major-color);
            border-radius: 50%;
            /* ✅ NOW perfect circle */
            display: flex;
            /* ✅ Center icon perfectly */
            justify-content: center;
            align-items: center;
            margin: 0;
            /* ✅ Remove any default margins */
        }


        #services .shiping .shiping-text h3,
        #services .support .support-text h3,
        #services .refund .refund-text h3 {
            padding: 16px 0;
            font-size: 15px;
            width: 10rem;
        }

        .support .icon-logo {
            margin-right: 0;
        }

        #services .shiping .shiping-text p,
        #services .support .support-text p,
        #services .refund .refund-text p {
            font-size: 10px;
        }

        .products .text {
            margin-bottom: 2rem;
        }

        .products .text h2 {
            font-size: 1.5rem;
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .cards .card-1,
        .cards .card-2,
        .cards .card-3 {
            width: 75%;
        }

        .cards .card-1 .rate,
        .card-2 .rate,
        .card-3 .rate {
            font-size: 0.5rem;
        }

        .cards .card-1 .btn-1,
        .card-2 .btn-1,
        .card-3 .btn-1 {
            padding: 13px 14px;
        }

        #deal-sec .text-sec h2 {
            font-size: 1.5rem;
        }


        .intro-text h1 {
            font-size: 1.5rem;
        }

        .video-container {
            display: none;
        }

        .dis-sale .ds-h3 {
            font-size: 1.6rem;
        }

        .percent .off,
        .sl-text {
            font-size: 1rem;
        }

        .percent .perc {
            font-size: 1.6rem;
        }

        .dis-sale-content .shn {
            padding: 0.7em 1.5em;
        }


        .text-part h1 {
            font-size: 1.5rem;
        }

        .news-cards {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            margin-left: 0;
            padding: 2rem;
        }

        .news-cards .card-1,
        .card-2,
        .card-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            flex-direction: column;
            width: 80%;
        }

        #footer .outer-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding: 2rem;
            gap: 3rem;
            margin: 8em 0;
            color: var(--white-color);
        }

        .subs {
            transform: translateX(0%);
        }


        .inner-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            flex-direction: column;
            min-width: 100vw;
            color: var(--text-color);
            opacity: 0.7;
        }
    }
}